/.cache/depthai/crashdumps/13fc48b1109424381c0c7e904d83fc8476f5194f/crash_dump.json

# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
build/
devel/
install/
.venv/
venv/

